<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.kravchenkoapps.blocknote4">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

        <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_1"
            android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name = "ru.kravchenkoapps.blocknote4.App">
            <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/app_ad_mob_id"/>

        <activity
                android:name="ru.kravchenkoapps.blocknote4.LogoActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
        </activity>

        <activity
            android:name="ru.kravchenkoapps.blocknote4.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <!--<category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity android:name="ru.kravchenkoapps.blocknote4.CreateNote"
                android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name="ru.kravchenkoapps.blocknote4.TestContent"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
        />

        <activity android:name="ru.kravchenkoapps.blocknote4.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        />

        <activity android:name="ru.kravchenkoapps.blocknote4.CheckboxActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
            <activity android:name=".AboutActivity" />

            <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    </manifest>